---
layout:                 application.brabex
title:                  Bitex demo exchange
body_classes:           ws-not-connected bitex-not-logged active-view-start
load_application:       True
---

<!-- div.container -->
<!--<div class="container">-->
  <!-- landing page-->
    <!--BEGIN LOGIN-->
        <div id="start" class="vertical-align-wrap bitex-hide-if-logged page row-fluid bitex-view bitex-view-admin bitex-view-active">
            <div class="vertical-align-middle">
                <div class="auth-box ">
                    <div class="left">
                        <div class="content">
                            <div class="header">
                                <h1>Login</h1>
                            </div>
                            <p>Não possui cadastro? Cadastre-se agora clicando <a href="" data-switch-view="signup" class="signup-link">aqui</a>.</p>
                            <form class="form-auth-small" action="" method="post">
                                <div class="form-group">
                                    <label for="id_landing_username" class="control-label sr-only">{% t views.start.username %}</label>
                                    <input type="text" class="form-control" id="id_landing_username" value="" placeholder="{% t views.start.username %}">
                                </div>
                                <div class="form-group">
                                    <label for="id_landing_password" class="control-label sr-only">{% t views.start.password %}</label>
                                    <input type="password" class="form-control" id="id_landing_password" value="" placeholder="{% t views.start.password %}">
                                </div>
                                <button id="id_landing_signin" class="btn btn-primary btn-lg btn-block">{% t views.start.login %}</button>
                                <div class="bottom">
                                    <span class="helper-text"><i class="fa fa-lock"></i> <a href="#" data-switch-view="forgot_password">{% t views.signin.forgot_your_password %}</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--END LOGIN-->

    <!--BEGIN REGISTRATION-->
    <div id="signup" class="main page row-fluid bitex-view signup-body" style="display: none;">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="header header-registration">
                                    <h1>Cadastrar</h1>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <p>Já possui cadastro? Acesse <a href="" data-switch-view="start" class="signup-link">aqui</a>.</p>
                                </div>
                                <form action="" accept-charset="UTF-8" class="form-auth-small" id="new_user" method="post">
                                    <div class="form-group col-md-6">
                                        <label for="id_signup_username" class="control-label sr-only">{% t views.signup.username %}</label>
                                        <input type="text" class="form-control" id="id_signup_username" value="" name="Username" placeholder="{% t views.signup.username %}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="id_signup_email" class="control-label sr-only">{% t views.signup.email %}</label>
                                        <input type="text" class="form-control" id="id_signup_email" value="" placeholder="{% t views.signup.email_placeholder %}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="id_signup_password" class="control-label sr-only">{% t views.signup.password %}</label>
                                        <input type="password" class="form-control" id="id_signup_password" value="" placeholder="{% t views.signup.password %}">
                                        <p class="psw-obs">{% t views.signup.password_help %}</p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="id_signup_password2" class="control-label sr-only">{% t views.signup.confirm_password %}</label>
                                        <input type="password" class="form-control" id="id_signup_password2" value="" placeholder="{% t views.signup.confirm_password %}">
                                    </div>
                                    <div class="clear"></div>
                                    <div class="form-group col-md-6">
                                        <select class="form-control" id="id_signup_country" name="country">
                                            <option value="">{% t views.signup.country %}</option>
                                        </select>
                                    </div>
                                    <div id="id_signup_state_group" class="form-group col-md-6">
                                        <select class="form-control" id="id_signup_state" name="state" style="display: none">
                                            <option value="">{% t views.signup.state %}</option>
                                        </select>
                                    </div>
                                     <div class="control-group" style="display: none;">
                                          <label class="control-label">Corretor</label>
                                          <div class="controls">
                                                <select id="id_signup_broker" name="broker"></select>
                                          </div>
                                    </div>
                                    <div id="signup_broker_details" class="form-group col-md-12 broker-view"></div>
                                    <div class="form-group col-md-12">
                                        <label class="fancy-checkbox">
                                            <input id="user_agreed_tos" type="checkbox" checked>
                                            <span>{% t views.signup.i_agree_with_terms_of_service %}</span>
                                        </label>
                                    </div>
                                </form>
                                <div class="form-group col-md-12">
                                    <button id="id_btn_signup" class="btn btn-primary btn-lg btn-block btn-submit">{% t views.signup.signup_button_label %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END REGISTRATION-->

  <div id="forgot_password" class="main page row bitex-view" style="display: none">
      <div class="main-content">
          <div class="container-fluid">
              <div class="col-md-offset-3 col-md-6 col-sm-12">
                  <div class="panel">
                      <div class="panel-heading">
                          <div class="header header-registration">
                              <h1>{% t views.forgot_password.title %}</h1>
                          </div>
                      </div>
                      <div class="panel-body">
                          <div class="col-md-12">
                              <form accept-charset="UTF-8" action="" method="post">
                                  <div class="clearfix">
                                      <div class="input">
                                          <input class="form-control" autocapitalize="off" autocorrect="off" id="id_forgot_password_email" name="email" type="text" placeholder="{% t views.forgot_password.email %}">
                                      </div>
                                  </div>
                                  <div class="actions password-btn">
                                      <input id="id_btn_forgot_password" class="btn btn-primary" name="commit" type="submit" value="{% t views.forgot_password.recover_password_button_label %}">
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="set_new_password" class="main page row bitex-view" style="display: none">
      <div class="main-content">
          <div class="container-fluid">
              <div class="col-md-offset-3 col-md-6 col-sm-12">
                  <div class="panel">
                      <div class="panel-heading">
                          <div class="header header-registration">
                              <h1>{% t views.set_new_password.title %}</h1>
                          </div>
                      </div>
                      <div class="panel-body">
                          <form accept-charset="UTF-8" class="form-horizontal" id="redefine_new_password_form" method="post">
                              <div class="control-group">
                                  <div class="controls">
                                      <input class="form-control" id="id_set_new_password_token" name="Email" size="30" type="text" placeholder="{% t views.set_new_password.security_code %}" />
                                      <p class="help-block">{% t views.set_new_password.security_code_help %}</p>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <div class="controls">
                                      <input class="form-control" id="id_set_new_password_password" name="Password" size="30" type="password" placeholder="{% t views.set_new_password.new_password %}" />
                                      <p class="help-block">{% t views.set_new_password.new_password_help %}</p>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <div class="controls">
                                      <input class="form-control" id="id_set_new_password_password2" name="Password2" size="30" type="password" placeholder="{% t views.set_new_password.confirm_password %}" />
                                  </div>
                              </div>
                              <div class="actions password-btn">
                                  <input id="id_btn_set_new_password" class="btn btn-primary" name="commit" type="submit" value="{% t views.set_new_password.set_new_password_button_label %}">
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="id_sidebar" class="bitex-display-if-logged sidebar bitex-view
                                            bitex-view-profile
                                            bitex-view-twofactor
                                            bitex-view-trading
                                            bitex-view-home
                                            bitex-view-offerbook
                                            bitex-view-history
                                            bitex-view-faq
                                            bitex-view-admin_view
                                            bitex-view-admin_customers
                                            bitex-view-customers
                                            bitex-view-account_overview
                                            bitex-view-withdraw
                                            bitex-view-withdraw_requests
                                            bitex-view-card
                                            bitex-view-deposit
                                            bitex-view-deposit_requests
                                            bitex-view-ledger
                                            bitex-view-settings
                                            bitex-view-algotrading
                                            bitex-view-api
                                            bitex-view-line_of_credit
                                            bitex-view-my_broker
                                            bitex-view-verification">
      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 95%;"><div class="sidebar-scroll" style="overflow-y: auto; width: auto; height: 100%;">
          <div id="account_balance" style="">

              <form class="form-inline">
                  <label class="control-label" for="id_instrument_1" style="display:none;">{% t views.sidebar.market %}</label>
                  <select id="id_instrument_1" style="display:none;">
                      <option></option>
                  </select>
              </form>

              <div id="id_account_summary_content" class="account-sumary-wrapper"></div>
          </div>

          <div id="id_remittance_box" class="" style="display:none;"></div>
          <nav class="sidebar-nav">
          <ul class="nav">
              <li class="bitex-display-if-broker" id="menu-admin_view">
                  <a href="" data-switch-view="admin_view">
                      <i data-switch-view="admin" class="icon-user"></i> {% t views.sidebar.admin %}
                  </a>
              </li>

              <!--<li id="menu-profile">-->
                  <!--<a href="" data-switch-view="profile">-->
                      <!--<i data-switch-view="profile" class="lnr lnr-user"></i> {% t views.sidebar.my_profile %}-->
                  <!--</a>-->
              <!--</li>-->

              <li class="bitex-display-if-non-broker">
                  <a href="" data-switch-view="home" class="active">
                      <i data-switch-view="home" class="fa fa-home"></i> {% t views.sidebar.home %}
                  </a>
              </li>

              <li id="verification_menu_id" style="" class="bitex-display-if-non-broker">
                  <a href="" data-switch-view="verification">
                      <i data-switch-view="verification" class="fa fa-check-square-o"></i> {% t views.sidebar.verification %}
                  </a>
              </li>

              <li id="menu-deposit" class="bitex-display-if-non-broker">
                  <a href="" data-switch-view="deposit">
                      <i data-switch-view="deposit" class="fa fa-download"></i>{% t views.sidebar.deposit %}
                  </a>
              </li>

              <li id="menu-withdraw" class="bitex-display-if-non-broker">
                  <a href="" data-switch-view="withdraw">
                      <i data-switch-view="withdraw" class="fa fa-upload"></i>{% t views.sidebar.withdraw %}
                  </a>
              </li>

              <li id="menu-broker" style="display:none;">
                  <a href="" data-switch-view="my_broker">
                      <i data-switch-view="my_broker" class="lnr lnr-cog"></i> {% t views.sidebar.my_broker %}
                  </a>
              </li>

	      <!--
              <li id="menu-trading">
                  <a href="" data-switch-view="trading" class="">
                      <i data-switch-view="trading" class="fa fa-random"></i> {% t views.sidebar.trading %}
                  </a>
              </li>
	      -->

              <li id="menu-offerbook">
                  <a href="" data-switch-view="offerbook">
                      <i data-switch-view="offerbook" class="fa fa-handshake-o"></i> {% t views.sidebar.offerbook %}
                  </a>
              </li>

              <li class="bitex-display-if-non-broker" id="menu-history">
                  <a href="" data-switch-view="history">
                      <i data-switch-view="history" class="fa fa-history"></i> {% t views.sidebar.history %}
                  </a>
              </li>

              <li id="menu-ledger">
                  <a href="" data-switch-view="ledger">
                      <i data-switch-view="ledger" class="fa fa-book"></i>{% t views.sidebar.ledger %}
                  </a>
              </li>

              <!--<li>-->
                <!--<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Financeiro</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>-->
                <!--<div id="subPages" class="collapse ">-->
                    <!--<ul class="nav">-->
                        <!--<li id="menu-ledger">-->
                          <!--<a href="" data-switch-view="ledger">-->
                              <!--{% t views.sidebar.ledger %}-->
                          <!--</a>-->
                        <!--</li>-->
                        <!--<li id="menu-deposit" class="bitex-display-if-non-broker">-->
                          <!--<a href="" data-switch-view="deposit">-->
                              <!--{% t views.sidebar.deposit %}-->
                          <!--</a>-->
                        <!--</li>-->
                        <!--<li id="menu-withdraw" class="bitex-display-if-non-broker">-->
                          <!--<a href="" data-switch-view="withdraw">-->
                              <!--{% t views.sidebar.withdraw %}-->
                          <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
              <!--</li>-->

              <!-- begin admin-->
              <li class="bitex-display-if-broker" id="menu-customers">
                  <a href="" data-switch-view="customers">
                      <i data-switch-view="customers" class="icon-user"></i> {% t views.sidebar.customers %}
                  </a>
              </li>

              <li class="bitex-display-if-broker" id="menu-deposit_requests">
                  <a href="" data-switch-view="deposit_requests">
                      {% t views.sidebar.deposit_requests %}
                  </a>
              </li>
              <li class="bitex-display-if-broker" id="menu-withdraw_requests">
                  <a href="" data-switch-view="withdraw_requests">
                      {% t views.sidebar.withdraw_requests %}
                  </a>
              </li>

              <li class="bitex-display-if-non-broker bitex-model" style="display: none" id="card_menu_id" data-model-key="HasCardFeature" data-model-action="show_element" id="menu-card">
                  <a href="" data-switch-view="card">
                      <i data-switch-view="card" class="icon-tag"></i> {% t views.sidebar.card %}
                  </a>
              </li>

              <li style="" class="bitex-display-if-non-broker bitex-model" style="display: none" id="line_of_credit_menu_id" data-model-key="HasLineOfCredit" data-model-action="show_element" id="menu-line_of_credit">
                  <a href="" data-switch-view="line_of_credit">
                      <i data-switch-view="line_of_credit" class="icon-retweet"></i> {% t views.sidebar.line_of_credit %}
                  </a>
              </li>
              <!--end admin-->
          </ul>
          </nav>
          </div>
          <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 142.776px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
      </div>
  </div>

    <div class="main row-fluid bitex-display-if-logged">
      <div class="main-content">
        <div class="container-fluid">
          <!--<div class="page row-fluid bitex-display-if-logged">-->

            <div id="faq" class="page bitex-view" style="display: none">
                <div class="main">
                    <div class="main-content">
                        <div class="container-fluid">
                            <h3 class="page-title">{% t views.faq.title %}</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="faq-email">
                                        <a href="mailto:cderivan@gmail.com" class="bitex-support-link" target="_blank">
                                            {% t views.faq.get_in_touch %}
                                        </a>
                                    </div>
                                    {% for post in site.categories['faq'] reversed %}
                                    <div class="panel panel-effect panel-faq">
                                        <div class="panel-heading" onclick="asksControl(this);" onclick="asksControl(this);">
                                            <h3 class="panel-title">{{post.title}}</h3>
                                            <div class="right">
                                                <button type="button"><i class="lnr lnr-chevron-down"></i></button>
                                            </div>
                                        </div>
                                        <div class="panel-body content-ask" style="display: none;">
                                            <hr>
                                            {{post.content}}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="profile" class="bitex-view">
              <h3 class="page-title">{% t views.profile.title %}</h3>
              <div class="row">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% t views.profile.configurations %}</h3>
                        </div>
                        <div id="account_overview_user_id" class="panel-body">
                        </div>
                        <div class="panel-body perfil-factor-btn">
                            <a id="id_btn_enable_two_factor" data-switch-view="twofactor" class="btn btn-success btn-block">
                                {% t views.profile.two_factor_auth_section.enable %} {% t views.profile.two_factor_auth_section.title %}
                            </a>
                            <button id="id_btn_disable_two_factor" class="btn btn-danger btn-block">
                                {% t views.profile.two_factor_auth_section.disable %} {% t views.profile.two_factor_auth_section.title %}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel content bitex-view-content"></div>
                </div>
              </div>
            </div>

          <div id="twofactor" class="bitex-view">
              <h3 class="page-title">{% t views.profile.title %}</h3>
              <div class="row">
                    <div id="twofactor_content" class="col-md-12"></div>
              </div>
          </div>

          <div id="trading" class="bitex-view">
              <h3 class="page-title">{% t views.trading.title %}</h3>
              <!--<div id="id_account_summary_content" class=""></div>-->
              <div id="trading_order_entry_content" class="row-fluid"></div>
              <div id="id_trading_well"></div>
          </div>

          <div id="home" class="bitex-view">
              <!-- <h3 class="page-title">E agora, o que fazer?</h3> -->
              <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Bem vindo <span class="broker-model broker-view-title" data-model-key="DisplayName"></span></h3>
                    <p class="panel-subtitle"><strong style="color:#5a5a5a">E agora?</strong> Como obter Bitcoins Testnet?</p>
                </div>
                <div class="panel-body">

                    <div class="intro-carousel">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            </ol>
                            
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="intro-section">
                                        <div class="intro-section--img">
                                            <img src="../../assets/themes/brabex/assets/img/img-intro1.png" alt="Verifique sua conta">
                                        </div>
                                        <div class="intro-section--content">
                                            <p>Testnet é a rede de testes de Bitcoin. Tecnologicamente idêntica a rede Bitcoin, porém sem valor financeiro.
                                            Recomendamos que utilize um dos sites a seguir para gerar seus Bitcoins de teste.
                                            <a href="https://testnet.coinfaucet.eu/en/" target="_blank">https://testnet.coinfaucet.eu/en/</a>
                                            ou <a href="https://testnet.manu.backend.hamburg/faucet" target="_blank">https://testnet.manu.backend.hamburg/faucet</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="intro-section">
                                        <div class="intro-section--img">
                                            <img src="../../assets/themes/brabex/assets/img/img-intro2.png" alt="Verifique sua conta">
                                        </div>
                                        <div class="intro-section--content">
                                            <p>Para enviar os Bitcoins Testnet para sua carteira no Simulador, (1.) No menu principal, clique em "Depósitos";
                                            (2.) Clique no botão "Depositar Bitcoins ฿"; (3.) Clique em "SIM" para responder à pergunta "Deseja criar um endereço para depósito?"</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="intro-section">
                                        <div class="intro-section--img">
                                            <img src="../../assets/themes/brabex/assets/img/img-intro3.png" alt="Verifique sua conta">
                                        </div>
                                        <div class="intro-section--content">
                                            <p>(4.) Selecione o endereço da carteira e copie (CTRL+C);
                                            (5.) Acesse em um dos sites recomendados no primeiro <i>“slide”</i> e cole (CTRL+V) o endereço da sua carteira de simulação no campo <i>"Your Testnet Address"</i>;
                                            (6.) Marque a opção "Não sou um Robô" e clique em <i>"Give some coins" ou "Get bitcoins!"</i></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="intro-section">
                                        <div class="intro-section--img">
                                            <img src="../../assets/themes/brabex/assets/img/img-intro4.png" alt="Verifique sua conta">
                                        </div>
                                        <div class="intro-section--content">
                                            <p>Para acompanhar seu saldo e extratos, utilize as opções do menu lateral. Após realizar as simulações de depósito e seu saldo para testes estiver disponível, você poderá utilizar o módulo para iniciantes <a href="" data-switch-view="trading">Investir Agora - Básico</a> ou o módulo para experientes <a href="" data-switch-view="offerbook">Comprar e Vender - Traders</a>.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="intro-section">
                                        <div class="intro-section--img">
                                            <img src="../../assets/themes/brabex/assets/img/img-intro1.png" alt="Verifique sua conta">
                                        </div>
                                        <h2 style="margin-bottom: 25px; font-weight: 600;">Vamos começar?</h2>
                                        <p>Caso tenha qualquer dúvida, <a href="mailto:simulador@brabex.com.br" class="broker-support-link" target="_blank">entre em contato conosco</a>, nossa equipe de atendimento está sempre a disposição!
                                        <b>Bem-vindo ao mundo do Bitcoin com a Brabex!</b></p>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="caroulsel-arrow-left" aria-hidden="true">
                                    <i class="lnr lnr-chevron-left"></i>
                                </span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="caroulsel-arrow-right" aria-hidden="true">
                                    <i class="lnr lnr-chevron-right"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
              </div>

          </div>

          <div id="algotrading" class="bitex-view">
            <div class="section-title">
              <h3 class="bitex-view-title">{% t views.algotrading.title %}</h3>
            </div>
            <div class="bitex-view-content"></div>
          </div>


          <div id="offerbook" class="bitex-view">
            <h3 class="page-title">{% t views.offerbook.title %}</h3>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                    <p>
                        <a class="btn btn-success toggle-buy-collapse buy" onclick="showTicket(this);">Fechar Boleta de Compra</a>
                        <a class="btn btn-danger toggle-sell-collapse sell" onclick="showTicket(this);">Fechar Boleta de Venda</a>
                    </p>
                </div>
              </div>
              <div class="row">
                    <div id="offer_book_order_entry_content"></div>
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <div class="panel2">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 book-title">
                                    <h3 class="book-offers-title">Compra</h3>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 book-title">
                                    <h3 class="book-offers-title">Venda</h3>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 table-header">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="col-md-3">Vol (R$)</th>
                                            <th class="col-md-3">Qtd (฿)</th>
                                            <th class="col-md-3">Cap (R$)</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 table-header">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="">Vda (R$)</th>
                                            <th class="">Qtd (฿)</th>
                                            <th class="">Vol (R$)</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-body book-body order">
                                <div id="id_order_book_bid_content"></div>
                                <div id="id_order_book_ask_content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div class="panel-body">
                            <table class="table table-fixed table-hover table-striped book-business">
                                <thead>
                                <tr>
                                    <th class="col-md-3 col-sm-3">Preço</th>
                                    <th class="col-md-3 col-sm-3">Quantidade</th>
                                    <th class="col-md-3 col-sm-3">Volume</th>
                                    <th class="col-md-3 col-sm-3">Hora</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-toggle="tooltip" title="Ordem de Venda">
                                    <td class="col-md-3 col-sm-3 sell"><i class="fa fa-level-down" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 sell">0,00001012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 sell">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Compra">
                                    <td class="col-md-3 col-sm-3 buy"><i class="fa fa-level-up" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 buy">0,00000102</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 buy">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Compra">
                                    <td class="col-md-3 col-sm-3 buy"><i class="fa fa-level-up" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 buy">0,00001012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 buy">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Compra">
                                    <td class="col-md-3 col-sm-3 buy"><i class="fa fa-level-up" aria-hidden="true"></i>0,00056716</td>
                                    <td class="col-md-3 col-sm-3 buy">0,00000012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 buy">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Venda">
                                    <td class="col-md-3 col-sm-3 sell"><i class="fa fa-level-down" aria-hidden="true"></i>0,00000016</td>
                                    <td class="col-md-3 col-sm-3 sell">0,00000012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 sell">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Compra">
                                    <td class="col-md-3 col-sm-3 buy"><i class="fa fa-level-up" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 buy">0,00001012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 buy">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Venda">
                                    <td class="col-md-3 col-sm-3 sell"><i class="fa fa-level-down" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 sell">0,00001012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 sell">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Compra">
                                    <td class="col-md-3 col-sm-3 buy"><i class="fa fa-level-up" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 buy">0,00001012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 buy">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Venda">
                                    <td class="col-md-3 col-sm-3 sell"><i class="fa fa-level-down" aria-hidden="true"></i>0,00000016</td>
                                    <td class="col-md-3 col-sm-3 sell">0,00000012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 sell">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Compra">
                                    <td class="col-md-3 col-sm-3 buy"><i class="fa fa-level-up" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 buy">0,00001012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 buy">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Venda">
                                    <td class="col-md-3 col-sm-3 sell"><i class="fa fa-level-down" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 sell">0,00001012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 sell">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Compra">
                                    <td class="col-md-3 col-sm-3 buy"><i class="fa fa-level-up" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 buy">0,00001012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 buy">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Venda">
                                    <td class="col-md-3 col-sm-3 sell"><i class="fa fa-level-down" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 sell">0,00001012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 sell">00:02:59</td>
                                </tr>
                                <tr data-toggle="tooltip" title="Ordem de Venda">
                                    <td class="col-md-3 col-sm-3 sell"><i class="fa fa-level-down" aria-hidden="true"></i>0,51156716</td>
                                    <td class="col-md-3 col-sm-3 sell">0,000001012</td>
                                    <td class="col-md-3 col-sm-3 sell">1,0012</td>
                                    <td class="col-md-3 col-sm-3 sell">00:02:59</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
           </div>

          <div id="history" class="bitex-view">
              <h3 class="page-title">{% t views.history.title %}</h3>
          </div>

          <div id="admin_view" class="bitex-view">
            <div class="section-title">
              <h3 class="bitex-view-title">{% t views.admin.title %}</h3>
            </div>
            <div class="content bitex-view-content">
              <div id="admin-tabs">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#TabCustomers" data-toggle="tab">{% t views.customers.title %}</a>
                  </li>
                  <li>
                    <a href="#TabDepogngtRequests" data-toggle="tab">{% t views.deposit_requests.title %}</a>
                  </li>
                  <li>
                    <a href="#TabWithdrawRequests" data-toggle="tab">{% t views.withdraw_requests.title %}</a>
                  </li>
                  <li>
                    <a href="#TabWithdrawMethods" data-toggle="tab">{% t views.withdraw_methods.title %}</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade" id="TabCustomers">
                    <h2 class="bitex-view-title">{% t views.customers.title %}</h2>
                    <div id="admin_customers"></div>
                  </div>
                  <div class="tab-pane fade" id="TabDepositRequests">
                    <h2 class="bitex-view-title">{% t views.deposit_requests.title %}</h2>

                    <div id="admin_deposit_requests"></div>
                  </div>
                  <div class="tab-pane fade" id="TabWithdrawRequests">
                    <h2 class="bitex-view-title">{% t views.withdraw_requests.title %}</h2>

                    <div id="admin_withdraw_requests"></div>
                  </div>
                  <div class="tab-pane fade" id="TabWithdrawMethods">
                    <h2 class="bitex-view-title">{% t views.withdraw_methods.title %}</h2>

                    <div id="admin_withdraw_methods"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="customers" class="bitex-view">
            <div class="section-title">
              <h3 class="bitex-view-title">{% t views.customers.title %}</h3>
            </div>
            <div id="id_customers_well"></div>
          </div>

          <div id="my_broker" class="bitex-view">
            <div class="bitex-view-title"></div>
            <div class="bitex-view-content"></div>
          </div>

          <div id="account_overview" class="bitex-view">
            <div class="section-title">
              <h3 class="bitex-view-title">{% t views.account_overview.title %}</h3>
            </div>
            <div class="content bitex-view-content">
              <div class="row-fluid">
                <div class="span6">
                  <div id="account_overview_header_id"></div>
                </div>
                <div class="span6">
                  <div id="account_overview_fees_id">
                    <div id="account_overview_fees_balances_id"></div>
                    <button id="id_btn_user_fees" class="btn btn-primary btn-small pull-right" style="margin-bottom: 10px;">{% t views.account_overview.set_user_fees_button_label %}</button>
                  </div>
                  <div id="account_overview_verify_data_id"></div>
                  <div id="account_overview_balances_id"></div>
                </div>
              </div>
              <div class="bitex-account-overview-view-content"></div>
            </div>
          </div>

          <div id="withdraw" class="bitex-view">
              <h3 class="page-title">{% t views.withdraw.title %}</h3>
              <div id="id_withdraw_button_group" class="col-md-12"></div>
              <div id="id_user_balances_well"></div>
              <div id="id_withdraw_list"></div>
          </div>

          <div id="withdraw_requests" class="bitex-view">
            <div class="section-title">
              <h3 class="bitex-view-title">{% t views.withdraw_requests.title %}</h3>
            </div>
            <div class="content bitex-view-content">
              <div id="id_withdraw_request_list"></div>
            </div>
          </div>

          <div id="deposit" class="bitex-view">
              <h3 class="page-title">{% t views.deposit.title %}</h3>
              <div id="id_deposit_button_group" class="col-md-12"></div>
              <div id="id_deposit_balances_container"></div>
              <div id="id_deposit_list"></div>
          </div>

          <div id="deposit_requests" class="bitex-view">
            <div class="section-title">
              <h3 class="bitex-view-title">{% t views.deposit_requests.title %}</h3>
            </div>
            <div class="content bitex-view-content">
              <div id="id_deposit_request_list"></div>
            </div>
          </div>

          <div id="card" class="bitex-view">
              <div class="section-title">
                  <h3 class="bitex-view-title">
                      <i class="icon-tag"></i>
                      <span>BlinkCard</span>
                  </h3>
              </div>
              <div class="content bitex-view-content">
                  <div id="id_card_button_group" class="row-fluid text-right">
                      <a id="id_btn_new_card" class="btn btn-primary">
                          <i class="icon-plus">New Card</i>
                      </a>
                  </div>
                  <br>
              </div>
          </div>

          <div id="ledger" class="bitex-view">
              <h3 class="page-title">{% t views.ledger.title %}</h3>
              <div id="id_ledger_balances_container"></div>
              <div id="id_ledger_list"></div>
          </div>

          <div id="api" class="bitex-view">
              <h3 class="page-title">{% t views.api.title %}</h3>
              <div class="row">
                  <div class="col-md-12">
                      <div class="panel">
                          <div class="col-md-12 api-btn">
                              <button type="button" class="btn btn-primary" id="id_btn_new_api_key">{% t views.api.new_api_key %}</button>
                          </div>
                          <div class="panel-body content bitex-view-content">
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div id="settings" class="bitex-view">
            <div class="section-title">
              <h3 class="bitex-view-title">{% t views.settings.title %}</h3>
            </div>
            <div class="bitex-view-content"></div>
          </div>


          <div id="line_of_credit" class="bitex-view">
            <div class="section-title">
              <h3 class="bitex-view-title">{% t views.line_of_credit.title %}</h3>
            </div>
            <div class="bitex-view-content"></div>
          </div>

          <div id="verification" class="bitex-view">
            <h3 class="page-title">{% t views.verification.title %}</h3>
            <div class="bitex-view-content">
              <iframe id="JotFormIFrame"
                      onload="window.parent.scrollTo(0,0)"
                      allowtransparency="true"
                      src=""
                      frameborder="0"
                      style="width:100%; height:1550px; border:none;"
                      scrolling="no"></iframe>
              <script type="text/javascript">
                window.handleIFrameMessage = function (e) {
                  var args = e.data.split(":");
                  var iframe = document.getElementById("JotFormIFrame");
                  if (!iframe)
                    return;
                  switch (args[0]) {
                    case "scrollIntoView":
                      iframe.scrollIntoView();
                      break;
                    case "setHeight":
                      if (args[1] > 0) {
                        iframe.style.height = ( parseInt(args[1], 10) + 200 ) +
                            "px";
                      }
                      break;
                  }
                };
                if (window.addEventListener) {
                  window.addEventListener("message", handleIFrameMessage, false);
                } else if (window.attachEvent) {
                  window.attachEvent("onmessage", handleIFrameMessage);
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div id="market" class="page row bitex-view" style="display: none">
    <div class="row-fluid">
      <div class="page-header">
        <h2 class="bitex-view-title">{% t views.market.title %}</h2>
      </div>
    </div>
    {% if site.trading_view %}
      <div id="market_trading_view" style="height: 600px;">
      </div>
    {% endif %}
    <div class="bitex-view-content">
    </div>
  </div>

  <div id="themes" class="bitex-view container page" style="display: none">
    <div class="page-header ls-title-4">
        <h1 class="bitex-view-title">{% t views.themes.title %}</h1>
    </div>
    <p>{% t views.themes.choose %}</p>
    <hr>
    <div class="bitex-view-content">

    </div>
  </div>
<!-- div.container -->
<!--</div>-->
<script>
    $('.carousel').carousel({
        interval: false
    })
</script>

